<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>COVID Data</title>
    <!-- Boot Strap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- CSS -->
    <link rel="stylesheet" href="static/style.css">

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- <script src="jquery-3.5.1.min.js"></script> -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

    <!-- D3 -->
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

    <!-- Chartist -->
    <link href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css" rel="stylesheet" type="text/css" />
    <!-- <link rel="stylesheet" href="static/chartist-plugin-axistitle.js"> -->

    <!-- JS -->
    <script src="{{url_for('static', filename='nd.js')}}"></script>

    <script>
        // jQuery
        $(document).ready(function() {
            $(".hide").click(function() {
                $(".scrape").hide();
                $(this).hide();
            });
        });
    </script>
    <script>
        
    </script>
</head>
<body>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{{url_for('index')}}">Project 2</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="{{url_for('index')}}">Covid-19 <span class="sr-only">(current)</span></a>
            </li>
          
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Data Visualization
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="{{ url_for('covidcases') }}">Updated Covid-19 Cases</a>
                <a class="dropdown-item" href="{{ url_for('race') }}">Covid-19 Cases by Race</a>
                <a class="dropdown-item" href="{{ url_for('jobloss') }}">Job Loss County</a>
                
                
              </div>
            </li>
          </ul>
        </div>
      </nav>
    <div class="scrape container">
        <div class="jumbotron text-center">
          <h1>Scrape Updated Covid Data!</h1>
          <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape COVID Data</a></p>
          <p><a class="btn btn-primary btn-lg" href="/covidjson">View Data</a></p>
          <!-- <div onload="showGraph()"></div> -->
        </div>
    </div>
    <button class="hide">Hide the Scrape interface after scraping!</button>
    <!-- <button class="chartButton" id="cases">Cases</button> -->
    <!-- <button class="chartButton" id="deaths">Deaths</button> -->
    <!-- <button class="chartButton" id="actives">Active Cases</button> -->
    <!-- <button class="chartButton" id="recovered">Recovered Cases</button> -->
    <div id="nemo" class="ct-chart-bar ct-golden-section"></div>
    <!-- <div id="nemo" class="ct-perfect-fourth"></div> -->
    <p>{{ clean_data.states }}</p>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <!-- Chartist -->
    <script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
    <script src="static/chartist-plugin-legend.js"></script>
</body>
</html>