<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>COVID Data</title>
</head>
<body>
    <!-- <p>Hi</p> -->
    <div class="container">
        <div class="jumbotron text-center">
          <h1>{{ text }}</h1>
          <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape COVID Data</a></p>
        </div>
        {% for data in covid_data %}
        <p>{{ data.states }}</p>
        <p>{{ data.cases }}</p>
        <p>{{ data.actives }}</p>
        <p>{{ data.recovered }}</p>
        {% endfor %}
    </div>
</body>
</html>